# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#calling-a-reusable-workflow
# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#using-a-matrix-strategy-with-a-reusable-workflow
# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#using-outputs-from-a-reusable-workflow
# https://stackoverflow.com/questions/59757355/reuse-portion-of-github-action-across-jobs
name: Deploy all namespaces

on:
  workflow_dispatch:

permissions: 
  contents: read
  id-token: write

jobs:
  deploy-all-namespaces:
    strategy:
      max-parallel: 2
      matrix:
        namespace: [xp264-001, xp264-002, xp264-003, xp264-004, xp264-005, xp264-006, xp264-007, xp264-008, xp264-009, xp264-010, xp264-011, xp264-012 ]
    uses: ./.github/workflows/reuse.yml
    with:
      NAMESPACE: ${{ matrix.namespace }}